body {
  font-family: "Orbitron", sans-serif;
}
.calculator {
  background-color: #1c3c6d;
  width: 250px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.display {
  background-color: #ecf0f1;
  color: black;
  border: 1px solid #2c3e50;
  border-radius: 3px;
  margin-bottom: 20px;
  font-family: "Digital-7", monospace;
}

.number-button {
  background-color: #fff;
  color: #333;
}

.operation-button {
  background-color: #1c3c6d;
  color: #ecf0f1;
}

.function-button {
  background-color: #e74c3c;
  color: #fff;
}

.button {
  border: none;
  border-radius: 5px;
  margin: 5px;
  padding: 15px;
  box-shadow: 0 2px #999;
}

.button:active {
  box-shadow: 0 1px #666;
  transform: translateY(1px);
}
