body,
html {
  font-family: "Orbitron", sans-serif;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

@font-face {
  font-family: "Digital-7 Mono";
  src: url("../fonts/Digital-7_Mono.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Digital-7";
  src: url("../fonts/Digital-7_Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Digital-7 Mono";
  src: url("../fonts/Digital-7_Mono_Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

.calculator {
  background-color: #1c3c6d;
  width: 250px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.solar-panel {
  background-color: #333;
  height: 20px;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 80%;
  align-self: center;
}

.display {
  background-color: #ecf0f1;
  color: black;
  border: 1px solid #2c3e50;
  border-radius: 3px;
  margin-bottom: 20px;
  font-family: "Orbitron", monospace;
  height: 60px;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 10px;
}

.number-button {
  background-color: #fff;
  color: #333;
}

.operation-button {
  background-color: #0a1526;
  color: #ecf0f1;
}

.function-button {
  background-color: #e74c3c;
  color: #fff;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 20px;
}

.button {
  width: 60px;
  height: 60px;
  padding: 20px;
  font-size: 1.5rem;
}

#btn-enter {
  grid-row: 5;
  grid-column: 4;
}

#btn-0 {
  grid-row: 5;
  grid-column: 2;
}

#btn-dot {
  grid-row: 5;
  grid-column: 3;
}

.number-button,
.function-button,
.operation-button {
  font-family: "Digital-7 Mono", monospace;
  font-size: 1rem;
  padding: 15px;
  box-shadow: 0 2px #999;
  border: none;
  border-radius: 5px;
}

.button:active {
  box-shadow: 0 1px #666;
  transform: translateY(1px);
}
